<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Log in</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in login_form %}
            <p>
                {{field.label_tag}}
                {{field}}
                {% if field.help_text %}
                    <p style="color: grey;">{{field.help_text}}</p>
                {% endif %}

                {% for error in field.errors %}
                    <p style='color: red;'>{{error}}</p>
                {% endfor %}
                
                {% if login_form.non_field_errors %}
                    <div style="color:red;">
                        <p>{{login_form.non_field_errors}}</p>
                    </div>
                {% else %}
                {% endif %}
            </p>

        {% endfor %}
        
        <button type="submit">Log in</button><br>
        <a href="{% url 'blog:register' %}" method="POST">İf you not have a account. Create now.</a>
        
    </form>
</body>
</html>